@font-face {
  font-family: "AB-Regular";
  src: url("../../public/Typography/AbhayaLibre-Regular.ttf");
}
@font-face {
  font-family: "AB-Bold";
  src: url("../../public/Typography/AbhayaLibre-Bold.ttf");
}
@font-face {
  font-family: "AB-ExtraBold";
  src: url("../../public/Typography/AbhayaLibre-ExtraBold.ttf");
}

.main {
  padding: 3rem;
  min-height: 100vh;
  text-align: center;
}
